.box{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 50%;
  margin: auto;

}

.card{
  width: 300px;
  margin: 10pt;
  padding: 10pt;
  border-radius: 10pt;
  box-shadow: 1px 1px 2px 0px;
}

.posts_box{
  display: flex;
  flex-wrap: wrap;
}